<div class="row">
  <div class="col s6">
    <div class="card z-depth-2">
      <h1>Hello World</h1>
    </div>
  </div>
  <div class="col s6">
    <div class="card z-depth-2">
      <h1>I'm working with Rails!</h1>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to 'About', about_path %>
  <a href="about" class="waves-effect waves-light btn">About</a>
</div>
